html {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 10px;
}

.home {
  display: flex;
}

.listing__item {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  background-color: #1d324e;
  color: #fff;
  padding: 1rem;
  flex: 1 1 100%;
  height: 100%;
}

.listing__item--customers {
  background-color: #fff;
  color: #1d324e;
}

.listing__item--actions {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  text-transform: uppercase;
}

.listing__item__property {
  text-transform: capitalize;
}

.button {
  background-color: #ff7933;
  border-radius: .3rem;
  padding: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.button + .button {
  margin-top: 2rem;
}

.customers-listing {
  flex: 1 1 100%;
}

a {
  text-decoration: none;
  color: inherit;
}